.container {
  background-color: #EEE;
  padding: 16px;
}

form > div:not(:first-child){
  min-width: 400px;
}

.MuiInput-focused-27 textarea,
textarea:not(:empty) {
  background-color: rgb(32, 35, 42) !important;
  box-sizing: border-box !important;
  color: rgb(97, 218, 251) !important;
  line-height: 2 !important;
  padding: 0 10px !important;
}

.MuiSnackbarContent-root-101,
.MuiSnackbarContent-root-185 {
  color: yellow !important;
  font-size: 16px !important;
}

.example-list {
  background-color: rgb(32, 35, 42);
  color: rgb(97, 218, 251);
  list-style-type: none;
  padding: 10px 15px;
}