body {
  background-color: #EEE;
  padding: 16px;
}

.list-of-selects {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
}

.list-of-selects > li {
  display: flex;
  justify-content: center;
  width: 100%;
}

form > div:not(:first-child){
  display: flex !important;
}

.wrapper-for-textfield {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.MuiInput-focused-27 textarea,
textarea:not(:empty) {
  background-color: rgb(32, 35, 42) !important;
  box-sizing: border-box !important;
  color: rgb(97, 218, 251) !important;
  line-height: 2 !important;
  padding: 0 10px !important;
}

.MuiFormControl-root-6 {
  min-width: 320px !important;
}

.MuiSnackbarContent-root-101,
.MuiSnackbarContent-root-185 {
  color: yellow !important;
  font-size: 16px !important;
}

.example-list {
  background-color: rgb(32, 35, 42);
  color: rgb(97, 218, 251);
  list-style-type: none;
  padding: 10px 15px;
}

.mutator {
  background-color: yellowgreen !important;
}

.iteration {
  color: red !important;
}

@media(min-width: 540px) {
  .list-of-selects > li {
    width: 50%;
  }
}

@media(min-width: 767px) {
  .list-of-selects > li {
    width: 25%;
  }
}
